*{
	font-family: Verdana, sans-serif;
}
:root{
	font-size: 16px;
}
body{
	margin: 0;
	background-color: bisque;
}
main{
	max-width: 40%;
	padding: 50px;
	background-color: #fff;
	border: 2px solid lightgrey;
	border-radius: 20px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
p{
	text-transform: uppercase;
}
div{
	max-width: 100%;
	display: grid;
	grid-template-columns: 1fr 1.5fr;
	align-items: center;
}
label{
	font-size: 1.2rem;
}

input{
	height: 50px;
	border: 1px solid #533CFF;
	border-radius: 5px;
	margin-bottom: 20px;
	width: 100%;
	font-size: 1.2rem;
}

input[type="submit"]{
	width: 75%;
	font-size: 1.7rem;
	color: #fff;
	background-color: #3567F7;
	margin-bottom: 0;
}
@media (max-width: 938px){
	main{
		max-width: 80%;
		position: relative;
		left: 50%;
		transform: translate(-50%, 0%);
	}
}
@media (max-width: 767px){
	:root{
		font-size: 13px;
	}
	main{
		display: flex;
		flex-direction: column;
		justify-content: center;
		left: 0%;
		transform: translate(0%, 0%);
		max-width: 100%;
		height: 100vh;
	}
}
@media (max-width: 560px){
	:root{
		font-size: 12px;
	}
	div{
		grid-template-columns: 1fr;
	}
	input{
		height: 30px;
	}
	input[type="submit"]{
		height: 40px;
	}

}
@media (max-width: 450px){
	:root{
		font-size: 10px;
	}
	input{
		height: 20px;
	}
	input[type="submit"]{
		height: 30px;
		font-size: 1.4rem;
	}
}
@media (max-width: 320px){
	:root{
		font-size: 9px;
	}
	input[type="submit"]{
		font-size: 1.3rem;
	}
}